@import '../../common/colors.scss';

.footer{
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    background-color: $secondary-color;
}
